.Weather__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    margin: auto;
    width: 800px;
    background-color: #fff;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Weather_data_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
}

.Weather_current_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}
.Weather_data_no_info {
    margin: auto;
}
.Current_ancillary__wrapper {
    /* width: 100px; */
}

.Current_ancillary {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Current_ancillary > div {
    font-size: 20px;
    margin-left: 5px;
}

.Current_icon {
    width: 128px;
}

.Forecast_icon{
    width: 48px;
}

.Forecast_temp {
    font-size: 20px;
}


.Forecast_date {
    font-size: 12px;
    font-weight: 500;
}

.Current_temp {
    font-size: 80px;
    color: #000;
    font-weight: 200;
}

.Weather_forecast_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.Weather_forecast{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.Weather_input>input {
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-weight: 700;
    height: 22px;
    min-width: 1px;
    color: #000;
    text-align: center;
    transition: all 0.15s ease;
}

.Weather__input_text {
    font-size: 20px;
}

.Weather_input>textarea:focus,
input:focus {
    outline: none
}

#hideElem {
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    opacity: 0;
    z-index: -100;
    white-space: pre;
}