.Weather__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    min-height: 500px;
    margin: auto;
    width: 800px;
    background-color: #fff;
}
.Weather__container > * > * {
    margin: 10px;
}

.Weather_data_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Weather_days_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}